/* General Styles */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #555;
}

h1 {
    font-size: 2rem;
    color: black;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    margin: 100px 0 50px;
}

.sos-image img {
    width: 100%;
    max-width: 500px;
    margin: 10px auto 0;
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.button-section {
    text-align: center;
    flex: 1 1 calc(50% - 20px);
    max-width: 300px;
}

.image-container img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #333;
    transform: scale(1.25);
}

footer {
    font-size: large;
    background-color: white;
    text-align: center;
    padding: 10px;
    color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .button-section {
        margin: 10px 0;
    }

    .sos-image img {
        width: 90%;
        max-width: 300px;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .menu button {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .button-section img {
        max-width: 100px;
    }
}
